<p>Admin</p>
<a href="/admin/crearcomponentes">crear componentes</a><br>
<a href="/admin/modificarcomponentes">modificar componentes</a><br>
<a href="/admin/crearelementos">crear eventos</a><br>
<a href="/admin/modificarelementos">modificar eventos</a>
