<p>crear componentes</p>
<ul>
  <li>
    <a href="/admin/crearcomponentes/programa">programa</a>
  </li>
  <li>
    <a href="/admin/crearcomponentes/ficha">ficha</a>
  </li>
  <li>
    <a href="/admin/crearcomponentes/competencia">competencia</a>
  </li>
  <li>
    <a href="/admin/crearcomponentes/resultado">resultado</a>
  </li>
  <li>
    <a href="/admin/crearcomponentes/ambiente">ambiente</a>
  </li>
  <li>
    <a href="/admin/crearcomponentes/instructor">instructor</a>
  </li>
  <li>
    <a href="/admin/crearcomponentes/actaprendizaje">actividad aprendizaje</a>
  </li>
  <li>
    <a href="/admin/crearcomponentes/actproyecto">actividad proyecto</a>
  </li>
  <li>
    <a href="/admin/crearcomponentes/proyecto">proyecto</a>
  </li>
</ul>
