<form method="post" action="/admin/crearcomponentes/actaprendizaje">
<h2>crear actividad de aprendizaje</h2>
{{> componentes/actaprendizaje }}
<button type="submit">guardar</button>
<a href="/admin/crearcomponentes">regresar</a>
</form>
