<form method="post" action="/admin/crearcomponentes/actproyecto">
<h2>crear actividad proyecto</h2>
{{> componentes/actproyecto }}
<button type="submit">guardar</button>
<a href="/admin/crearcomponentes">regresar</a>
</form>
