<form action="/admin/crearcomponentes/ambiente" method="post">
  <h2>crear ambiente</h2>
  {{> componentes/ambiente }}
  <button type="submit">guardar</button>
  <a href="/admin/crearcomponentes">regresar</a>
</form>
