<form action="/admin/crearcomponentes/competencia" method="post">
  <h2>crear competencia</h2>
  {{> componentes/competencia }}
  <button type="submit">guardar</button>
  <a href="/admin/crearcomponentes">regresar</a>
</form>
