<form method="post" action="/admin/crearcomponentes/ficha">
<h2>crear ficha</h2>
{{> componentes/ficha }}
<button type="submit">guardar</button>
<a href="/admin/crearcomponentes">regresar</a>
</form>
