<form method="post" action="/admin/crearcomponentes/instructor">
<h2>crear instructor</h2>
{{> componentes/instructor }}
<button type="submit">guardar</button>
<a href="/admin/crearcomponentes">regresar</a>
</form>
