<form method="post" action="/admin/crearcomponentes/programa">
  <h2>crear programa linita</h2>

  {{> componentes/programa }}

  <button type="submit">Guardar</button>
  <a href="/admin/crearcomponentes">regresar</a>
</form>
