<form action="/admin/crearcomponentes/proyecto" method="post">
  <h2>crear proyecto</h2>
  {{> componentes/proyecto }}
  <button type="submit">guardar</button>
  <a href="/admin/crearcomponentes">regresar</a>
</form>
