<form action="/admin/crearcomponentes/resultado" method="post">
  <h2>crear resultado</h2>
  {{> componentes/resultado }}
  <button type="submit">Guardar</button>
    <a href="/admin/crearcomponentes">regresar</a>
</form>
