<label for="nombre_ambiente">nombre ambiente</label>
<input type="text" name="nombre_ambiente" required autocomplete="off">
<label for="torre">torre</label>
<select name="torre">
  <option value="oriental">oriental</option>
  <option value="occidental">occidental</option>
  <option value="cenigraf">cenigraf</option>
</select>
<label for="piso">piso</label>
<select name="piso">
  <option value="1">1</option>
  <option value="2">2</option>
  <option value="3">3</option>
  <option value="4">4</option>
  <option value="5">5</option>
  <option value="6">6</option>
</select>
<label for="capacidad">capacidad</label>
<input type="number" name="capacidad" required autocomplete="off">
<label for="tipo_ambiente">tipo ambiente</label>
<select name="tipo_ambiente">
  <option value="1">1</option>
  <option value="2">2</option>
  <option value="3">3</option>
</select>
