<label for="id_competencia">id competencia</label>
<input type="number" name="id_competencia" required autocomplete="off">
<label for="nombre_competencia">nombre competencia</label>
<textarea name="nombre_competencia" required></textarea>
<label for="tipo_ambiente">tipo de ambiente</label>
<select name="tipo_ambiente">
  <option value="1">1</option>
  <option value="2">2</option>
  <option value="3">3</option>
</select>
