<label for="id_programa">id programa</label>
<input type="number" name="id_programa" required autocomplete="off">



<label for="nombre_programa">nombre</label>
<textarea name="nombre_programa" required></textarea>
<label for="tipo_programa">tipo</label>
<select name="tipo_programa">
  <option value="tecnico">tecnico</option>
  <option value="tecnologo">tecnologo</option>
</select>
<label for="descripcion_programa">descripcion</label>
<textarea name="descripcion_programa"></textarea>
